<%if user_signed_in?%>
	<style type="text/css">
		body{
			background-image: url('/assets/white-homepage1.jpg');
		}
	</style>
<%end%>
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container header-text">
		<a class="brand"; style="color: palegoldenrod;" href="/">AutoBiography</a>
		<ul class="nav header-text">
		    <%if !user_signed_in?%>
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			<%else%>
				<li><a href="/users/sign_out">Add your day</a></li>
				<li><a href="/autobio/index">Your diary</a></li>
				<li><a href="/landing/new">Punch line</a></li>
			<%end%>
		</ul>
		<ul class="nav pull-right">
			<%if !user_signed_in?%>
				<li><a href="/users/sign_in">Sign In</a></li>
				<li><a href="/users/sign_up">Sign Up</a></li>
			<%else%>
				<li><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
			<%end%>
		</ul>
		</div>
	</div>
</div>

