<%if !user_signed_in?%>
<style type="text/css">
    
    body{
        background-image: url('/assets/book7.gif');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
    }
   
</style>
 <%end%>
 <script type="text/javascript">
    <%if !flash[:notice].blank? %>
        $.gritter.add({
            title: 'Notice',
            text: '<%= flash[:notice]%>'
        });
    <%end%>
</script>
<%if !user_signed_in?%>
	<div class="row">
		<div class="span2"></div>
		<div class="span6"  style="margin-top: 180px;">
			<p style="text-align: center; font-family: 'ReplicaStdLight'; font-size: 4.5em; color: white; z-index: 100;">
				When writing the story of your life...
				<br/>
				Dont let anyone else to hold the pen!
			</p> 
		</div>
		<div class="span4"></div>
	</div>
	<div class="span12" style="margin-top: 100px;text-align: center; font-family: Bodoni, Serif; font-style: italic;font-size: 1.5em; color: palegoldenrod !important;"> 
		“I believe that we are who we choose to be.

		Nobody is going to come and save you. You've got to save yourself.

		Nobody is going to give you anything. You've got to go out and fight for it.

		Nobody knows what you want except you, and nobody will be as sorry as you if you don't get it.

		So don't give up your dreams.” 
	</div>

	<div style="margin-top: 150px; margin-left: 550px;">
		<div id="fb-root" ></div>
		<script src="http://connect.facebook.net/en_US/all.js#appId=212715052108961&amp;xfbml=1"></script>
		<fb:like href="https://www.facebook.com/pages/Autobiography/743910598977598" send="false" layout="button_count" width="50" show_faces="false" font="">	
			</fb:like>
	</div>

<%else%>
	<%= render "shared/pen_writing" %>
<%end%>
