li.active{
	color: red;
}
.margintop50{
	margin-top: 50px;
}
.margintop50center{
	margin-top: 50px;
	text-align: center;
}
.width436{
	width: 436px;
}
.white-text{
	color: white ;
}
.font-gender{
	color: #141823;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	padding: 0 10px 0 3px;
}
.terms-text{
	color: #777;
	font-size: 11px;
	width: 316px;
}
.sign-up-btn{
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif !important;
	font-weight: normal;
}
body{
    background-image: url('/assets/old_book2.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
 select {
    width: 121px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    font-size:18px;
    border-radius: 25px;
}
select.date-select {
    width:auto;
    background-color: #ffffff;
}
.margintop30center{
	margin-top: 30px; 
    text-align: center;
}