li.active{
	color: red;
}
.margintop50{
	margin-top: 50px;
}
.width436{
	width: 436px;
}
.white-text{
	color: white ;
}
.font-gender{
	color: #141823;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	padding: 0 10px 0 3px;
}
.terms-text{
	color: #777;
	font-size: 11px;
	width: 316px;
}
.sign-up-btn{
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif !important;
	font-weight: normal;
}